@import "../../shared/styles/reset";
@import "../../shared/styles/vars";
@import "../../shared/styles/_mixins";

body{
  font-family: var(--font-public-sans);

}

.wrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main{
  flex:1;
}