@use '../../shared/styles/reset' as *;
@use '../../shared/styles/vars' as *;
@use '../../shared/styles/mixins' as *;

body {
  font-family: var(--font-public-sans);
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1;
}
