@use '../../shared/styles/reset' as *;
@use '../../shared/styles/vars' as *;
@use '../../shared/styles/mixins' as *;

body {
  color: var(--neutral-00);
  font-family: var(--font-inter);
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1;
}

.logo {
  @include flex-align-center(8);

  span {
    color: var(--neutral-00);

    @include text-heading-01;
  }
}
