:root {
  --neutral-50: #f2f4f5;
  --neutral-100: #e4e7e9;
  --neutral-200: #c9cfd2;
  --neutral-300: #adb7bc;
  --neutral-400: #929fa5;
  --neutral-500: #77878f;
  --neutral-600: #5f6c72;
  --neutral-700: #475156;
  --neutral-800: #303639;
  --neutral-900: #191c1f;
  --primary-50: #fff3eb;
  --primary-100: #ffe7d6;
  --primary-200: #ffcead;
  --primary-300: #ffb685;
  --primary-400: #ff9d5c;
  --primary-500: #fa8232;
  --primary-600: #de732d;
  --primary-700: #99501f;
  --primary-800: #663514;
  --primary-900: #331b0a;
  --secondary-50: #eaf6fe;
  --secondary-100: #d5edfd;
  --secondary-200: #abdbfa;
  --secondary-300: #81c9f8;
  --secondary-400: #57b7f5;
  --secondary-500: #2da5f3;
  --secondary-600: #2484c2;
  --secondary-700: #1b6392;
  --secondary-800: #124261;
  --secondary-900: #092131;
  --success-50: #eaf7e9;
  --success-100: #d5f0d3;
  --success-200: #abe0a7;
  --success-300: #81d17c;
  --success-400: #57c150;
  --success-500: #2db224;
  --success-600: #248e1d;
  --success-700: #1b6b16;
  --success-800: #12470e;
  --success-900: #092407;
  --warning-50: #fdfae7;
  --warning-100: #fbf4ce;
  --warning-200: #f7e99e;
  --warning-300: #f3de6d;
  --warning-400: #efd33d;
  --warning-500: #ebc80c;
  --warning-600: #bca00a;
  --warning-700: #8d7807;
  --warning-800: #5e5005;
  --warning-900: #2f2802;
  --danger-50: #fdeeee;
  --danger-100: #fcdede;
  --danger-200: #f8bcbc;
  --danger-300: #f59b9b;
  --danger-400: #f17979;
  --danger-500: #ee5858;
  --danger-600: #be4646;
  --danger-700: #8f3535;
  --danger-800: #5f2323;
  --danger-900: #301212;
  --rounded-sm: 4px;
  --rounded-md: 6px;
  --rounded-lg: 8px;
  --rounded-full: 100%;
}
