@use '../../../shared/styles/vars' as *;
@use '../../../shared/styles/mixins' as *;

.header {
  background-color: var(--secondary-700);

  @include text-body-sm(400);

  .topNavWrapper {
    box-shadow: inset 0 -1px 0 0 rgb(255 255 255 / 16%);

    .topnav {
      @include container;
      @include flex-between;

      color: var(--neutral-00);
      padding: 16px 0;

      .rightSide {
        @include flex-align-center(24);

        .divider {
          background-color: var(--neutral-00);
          display: block;
          height: 20px;
          opacity: 0.4;
          width: 1px;
        }

        .follows {
          @include flex-align-center(12);

          .followsList {
            @include flex-align-center(12);

            .followLink {
              transition: opacity 0.1s ease-in-out;

              &:hover {
                opacity: 0.6;
              }
            }
          }
        }

        .settings {
          @include flex-align-center(12);
        }
      }
    }
  }

  .middleNav {
    @include container;
    @include flex-between;

    padding: 20px 0;

    .searchInput {
      width: 640px;
    }

    .actions {
      @include flex-align-center(27);

      .actionsItem {
        .actionsLink {
          color: var(--neutral-00);
          transition: opacity 0.1s ease-in-out;

          &:hover {
            opacity: 0.6;
          }

          svg {
            height: 28px;
            width: 28px;
          }
        }
      }
    }
  }

  .bottomNavWrapper {
    background-color: var(--neutral-00);
    box-shadow: inset 0 -1px 0 0 var(--accent);
    padding: 16px 0;

    .bottomNav {
      padding: 0 !important;

      @include container;
      @include flex-between;

      .bottomNavList {
        @include flex-align-center(24);

        .actionLink {
          @include flex-align-center(6);

          color: var(--neutral-600);
          transition: opacity 0.1s ease-in-out;

          &:hover {
            opacity: 0.7;
          }
        }
      }

      .categoryButton {
        background-color: var(--neutral-100);
        color: var(--neutral-900);
        height: auto;
        padding: 17px 24px;
      }

      .phone {
        @include flex-align-center(8);

        color: var(--neutral-900);
        transition: opacity 0.1s ease-in-out;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
